body
{
    background-color: #000000;
    background-image: radial-gradient(#002A52, #000000);
    font-family: Arial, sans-serif;
}

.trivia-container
{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    /* question styling */
    background-color: rgba(228, 222, 222, 0.1);  /*semi-transparent white background for contrast */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1
{
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

button
{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
}

.question-container
{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    /* question styling */
    background-color: rgba(95, 77, 77, 0.548);  /*semi-transparent white background for contrast */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    /* text */
    color: #ffffff;
    font-size: 20px;
    text-align: left;
}

.question-container-correct
{
    background-color: rgba(7, 170, 34, 0.548);
}

.question-container-incorrect
{
    background-color: rgba(170, 7, 7, 0.548);
}

.options-container
{
    font-size: 14px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.feedback
{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

#score
{
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
}

.links
{
    margin-top: 20px;
    text-align: center;
}

.links a,
.links a:visited
{
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #221c5a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links a:hover
{
    background-color: #2980b9;
}

/* class used to hide elements */
.hidden
{
    display: none !important; 
}

@media screen and (max-width: 600px)
{
    .links a
    {
        display: block;
        margin: 10px auto;
    }
}